* {
  margin: 0;
  padding: 0;
}

/*Webpage Colors*/
:root {
  --gray-background: #152424;
  --light-green: #0ef0c1;
  --light-blue: #1c90fc;
  --orange: #f5d61b;
}

/*Navbar Styling (Desktop Version)*/
@media (min-width: 1025px) {
  #navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    margin-top: 5vh;
    margin-left: 3vw;
    margin-right: 3vw;
    color: var(--light-green);
  }

  #navbar img {
    box-sizing: border-box;
    width: 17vw;
    background-color: var(--gray-background);
    border-radius: 50%;
    padding: 1vw;
  }

  nav {
    box-sizing: border-box;
    width: 60vw;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    display: flex;
    border: 0.5vw solid transparent;
    padding: 1vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    font-size: 1.5vw;
    border-radius: 10vw;
    background-color: var(--gray-background);
  }

  nav a {
    margin-top: 0%;
    color: var(--light-green);
  }

  #navbar div {
    display: flex;
    padding-top: 1vh;
    flex-direction: column;
    font-size: 2.5vw;
  }

  #seperator {
    height: 19vh;
    width: 0.25vw;
    position: absolute;
    background-color: var(--light-green);
    top: 0;
    left: 13vw;
  }
}

/*Navbar Styling (Portrait Version)*/
@media only screen and (max-width: 1024px) and (orientation: portrait) {
  #navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 2vh 3vw 1vh 3vw;
    color: var(--light-green);
    width: 100%;
    margin: 0;
    box-sizing: border-box;
  }

  #navbar img {
    box-sizing: border-box;
    width: 30vw;
    background-color: var(--gray-background);
    border-radius: 50%;
    padding: 1vw;
  }

  nav {
    box-sizing: border-box;
    width: 67vw;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    display: flex;
    border: 0.5vw solid transparent;
    padding: 1vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    font-size: 1.5vw;
    border-radius: 10vw;
    background-color: var(--gray-background);
    position: relative;
  }

  nav a {
    margin-top: 0%;
    color: var(--light-green);
    font-size: 1.75vw;
  }

  #navbar div {
    display: flex;
    padding-top: 1vh;
    flex-direction: column;
    font-size: 2.5vw;
  }

  #seperator {
    height: 7vh;
    width: 0.25vw;
    position: absolute;
    background-color: var(--light-green);
    top: -0.25vh;
    left: 10vw;
  }
}

/*Navbar Styling (Mobile Landscape Version)*/
@media only screen and (orientation: landscape) and (max-width: 1024px) {
  #navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    margin-top: 5vh;
    margin-left: 3vw;
    margin-right: 3vw;
    color: var(--light-green);
  }

  #navbar img {
    box-sizing: border-box;
    width: 23vw;
    background-color: var(--gray-background);
    border-radius: 50%;
    padding: 1vw;
  }

  nav {
    box-sizing: border-box;
    width: 60vw;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    display: flex;
    border: 0.5vw solid transparent;
    padding: 1vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    font-size: 1.5vw;
    border-radius: 10vw;
    background-color: var(--gray-background);
  }

  nav a {
    margin-top: 0%;
    color: var(--light-green);
  }

  #navbar div {
    display: flex;
    padding-top: 1vh;
    flex-direction: column;
    font-size: 2.5vw;
  }

  #seperator {
    height: 14vh;
    width: 0.25vw;
    position: absolute;
    background-color: var(--light-green);
    top: 0;
    left: 13vw;
  }
}

/*About Me Styling (Desktop)*/
@media only screen and (orientation: landscape) and (min-width: 1025px) {
  #triangle {
    width: 0;
    height: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    border-left: 20vw solid transparent;
    border-right: 20vw solid transparent;
    border-bottom: 10vh solid var(--light-blue);
  }

  #aboutMe {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    margin-left: 0;
    margin-right: 0;
    background-image: url(images/aboutMeBackground.svg);
    background-size: cover;
    font-size: 1.6vw;
    font-family: "Vast Shadow", cursive;
    color: var(--gray-background);
    transition: color 0.5s;
    box-sizing: border-box;
    flex-wrap: wrap;
    transition: color 0.5s;
  }

  #aboutMe:hover {
    color: var(--light-green);
    transition: color 0.5s;
  }

  #aboutMe h1 {
    font-size: 4vw;
    font-style: italic;
    text-align: center;
    margin-bottom: 2vh;
    margin-top: 0;
    filter: contrast(1.75);
    width: 50vw;
  }

  #aboutMe div {
    width: 50vw;
    filter: contrast(1.75);
    margin-left: 1vw;
    margin-bottom: 0;
  }

  #aboutMe div a {
    font-size: 1.6vw;
  }

  #mainPicture {
    width: 40vw;
    background-color: var(--gray-background);
    border: 0.25vw solid var(--light-green);
    border-radius: 100%;
    filter: sepia(100%) grayscale(100%) brightness(75%);
    transition: filter 0.5s, width 1s;
    position: absolute;
    top: 10%;
    right: 5vw;
    z-index: 1;
  }

  #mainPicture:hover {
    filter: none;
    width: 45vw;
    transition: filter 0.5s, width 0.5s;
  }

  .container {
    height: 100vh;
  }
}

/*About Me Styling (Portrait view)*/
@media only screen and (max-width: 1024px) and (orientation: portrait) {
  #triangle {
    width: 0;
    height: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    border-left: 20vw solid transparent;
    border-right: 20vw solid transparent;
    border-bottom: 10vh solid var(--light-blue);
    transform: translateY(0.5vh);
  }

  #aboutMe {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    width: 100%;
    min-height: 75%;
    max-height: auto;
    margin-left: 0;
    margin-right: 0;
    background-image: url(images/aboutMeBackground.svg);
    background-size: cover;
    font-size: 3vw;
    font-family: "Vast Shadow", cursive;
    color: var(--light-green);
    transition: color 0.5s;
    box-sizing: border-box;
    flex-wrap: wrap;
  }

  #aboutMe h1 {
    font-size: 5vw;
    font-style: italic;
    text-align: center;
    margin-bottom: 2vh;
    margin-top: 0;
    filter: contrast(1.75);
    width: 50vw;
    order: 2;
    margin-top: 1vh;
  }

  #aboutMe div {
    width: 96vw;
    filter: contrast(1.75);
    margin-bottom: 1vh;
    order: 3;
    margin-left: 0;
    margin-right: 0;
  }

  #aboutMe div a {
    font-size: 3vw;
  }

  #mainPicture {
    margin-top: 2vh;
    width: 50vw;
    background-color: var(--gray-background);
    border-radius: 100%;
    z-index: 1;
    order: 1;
  }

  .container {
    height: 100vh;
  }
}

/*About Me Styling (Mobile Landscape)*/
@media only screen and (orientation: landscape) and (max-width: 1025px) {
  #triangle {
    width: 0;
    height: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    border-left: 20vw solid transparent;
    border-right: 20vw solid transparent;
    border-bottom: 10vh solid var(--light-blue);
    transform: translateY(0.5vh);
  }

  #aboutMe {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    width: 100%;
    min-height: 75%;
    max-height: auto;
    margin-left: 0;
    margin-right: 0;
    background-image: url(images/aboutMeBackground.svg);
    background-size: cover;
    font-size: 2vw;
    font-family: "Vast Shadow", cursive;
    color: var(--light-green);
    transition: color 0.5s;
    box-sizing: border-box;
    flex-wrap: wrap;
  }

  #aboutMe h1 {
    font-size: 3vw;
    font-style: italic;
    text-align: center;
    margin-bottom: 2vh;
    margin-top: 0;
    filter: contrast(1.75);
    width: 50vw;
    order: 2;
    margin-top: 1vh;
  }

  #aboutMe div {
    width: 96vw;
    filter: contrast(1.75);
    margin-bottom: 1vh;
    order: 3;
    margin-left: auto;
    margin-right: auto;
  }

  #aboutMe div a {
    font-size: 2vw;
  }

  #mainPicture {
    margin-top: 2vh;
    width: 30vw;
    background-color: var(--gray-background);
    border-radius: 100%;
    z-index: 1;
    order: 1;
  }

  .container {
    height: 100vh;
  }
}

/*Footer Styling (Desktop)*/
@media only screen and (orientation: landscape) and (min-width: 1025px) {
  footer {
    box-sizing: border-box;
    background-color: var(--gray-background);
    color: var(--light-green);
    width: 100%;
    height: auto;
    padding-top: 1vh;
    display: grid;
    justify-items: center;
    font-size: 2vh;
    z-index: auto;
  }

  footer p {
    margin-top: 0;
    margin-bottom: 0;
    width: 20vw;
    margin: 1vh;
  }

  footer a {
    color: var(--light-green);
    text-decoration: underline;
  }

  footer a:hover {
    font-size: 2vh;
  }
}

/*Footer Styling (Portrait Version)*/
@media only screen and (max-width: 1024px) and (orientation: portrait) {
  footer {
    box-sizing: border-box;
    background-color: var(--gray-background);
    color: var(--light-green);
    width: 100%;
    height: auto;
    padding-top: 0.5vh;
    display: grid;
    justify-items: center;
    font-size: 1vh;
    z-index: auto;
  }

  footer p {
    margin-top: 0;
    margin-bottom: 0;
    width: 20vw;
    margin: 0.5vh;
  }

  footer a {
    text-decoration: underline;
    color: var(--orange);
  }
}

/*Footer Styling (Mobile Landscape Version)*/
@media only screen and (orientation: landscape) and (max-width: 1024px) {
  footer {
    box-sizing: border-box;
    background-color: var(--gray-background);
    color: var(--light-green);
    width: 100%;
    height: auto;
    padding-top: 1vh;
    display: grid;
    justify-items: center;
    font-size: 2vh;
    z-index: auto;
  }

  footer p {
    margin-top: 0;
    margin-bottom: 0;
    width: 20vw;
    margin: 1vh;
  }

  footer a {
    color: var(--orange);
    text-decoration: underline;
  }
}

/*Contact Info Styling (Desktop)*/
@media only screen and (orientation: landscape) and (min-width: 1025px) {
  #contactMe {
    font-family: "Vast Shadow", cursive;
    color: var(--light-green);
    height: 65vh;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    box-sizing: border-box;
  }

  #contactMe h1 {
    font-size: 3vw;
    width: 50vw;
    margin: 0;
  }

  #contactMe p {
    width: 50vw;
    font-size: 2vw;
    margin: 0;
  }

  #contactMe a {
    width: 15vw;
    transition: filter 0.5s, transform 0.5s;
  }

  #contactMe a:hover {
    filter: invert(100%);
    transform: translateY(-3vh);
    transition: filter 0.5s, transform 0.5s;
  }
}

/*Contact Info Styling (Portrait)*/
@media only screen and (max-width: 1024px) and (orientation: portrait) {
  #contactMe {
    font-family: "Vast Shadow", cursive;
    color: var(--light-green);
    height: auto;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    box-sizing: border-box;
  }

  #contactMe h1 {
    font-size: 5vh;
    width: 50vw;
    margin: 0;
    width: 90vw;
  }

  #contactMe p {
    width: 80vw;
    font-size: 3vh;
    margin: 0;
  }

  #contactMe a {
    width: 50vw;
    filter: invert(100%);
  }
}

/*Contact Info Styling (Landscape)*/
@media only screen and (orientation: landscape) and (max-width: 1024px) {
  #contactMe {
    font-family: "Vast Shadow", cursive;
    color: var(--light-green);
    height: 65vh;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    box-sizing: border-box;
  }

  #contactMe h1 {
    font-size: 3vw;
    width: 50vw;
    margin: 0;
  }

  #contactMe p {
    width: 50vw;
    font-size: 3vh;
    margin: 0;
  }

  #contactMe a {
    width: 15vw;
    filter: invert(100%);
  }
}

/*Experiences Page Styling (Desktop)*/
@media only screen and (min-width: 1025px) {
  #experiences {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
    width: 100%;
    box-sizing: border-box;
    background-image: url("images/experiences.svg");
    background-size: 100%;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
    font-family: "Vast Shadow", cursive;
    color: var(--light-blue);
    filter: contrast(130%);
    padding-bottom: 50vh;
  }

  #experiences h1 {
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    font-size: 4vw;
    font-family: "Vast Shadow", cursive;
    color: var(--orange);
    padding: none;
    text-align: center;
  }

  .hiddenInfo {
    display: none;
  }

  .revealedInfo {
    display: block;
  }

  .info {
    width: 50vw;
    min-height: 40vh;
    font-size: 1.5vw;
    background-color: #3f3f3f;
    border-radius: 2vw;
    padding: 1vw;
    position: absolute;
  }

  .info span {
    color: var(--orange);
    font-size: 1.75vw;
  }

  .info .languages {
    font-size: 1.5vw;
    color: var(--light-blue);
    transition: color 0.5s;
  }

  .info .languages:hover {
    color: var(--light-green);
    transition: color 0.5s;
  }

  .info a {
    color: var(--light-green);
  }

  #info1 {
    z-index: 1;
  }

  #info2 {
    font-size: 2vw;
  }

  .arrow {
    border-top: 3vw solid transparent;
    border-bottom: 3vw solid transparent;
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
  }

  #left {
    border-right: 6vh solid gray;
    left: 15vw;
    transition: border-right 0.5s;
  }

  #right {
    border-left: 6vh solid gray;
    right: 15vw;
    transition: border-left 0.5s;
  }

  #left:hover {
    transition: border-right 0.5s;
    border-right: 6vh solid white;
  }

  #right:hover {
    transition: border-left 0.5s;
    border-left: 6vh solid white;
  }

  #infoHeading {
    height: auto;
    width: 50vw;
    font-size: 2.5vw;
    margin-bottom: 5vh;
    margin-top: 0;
    background-color: #3f3f3f;
    padding-left: 2vw;
    padding-right: 2vw;
    border-radius: 2vw;
    box-sizing: border-box;
    text-align: center;
  }

  .fadeOut {
    transition: opacity 0.5s;
    opacity: 0%;
  }

  .fadeIn {
    transition: opacity 0.5s;
    opacity: 100%;
  }
}

/*Experiences Page Styling (Portrait View)*/
@media only screen and (max-width: 1024px) and (orientation: portrait) {
  #experiences {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
    height: auto;
    width: 100%;
    box-sizing: border-box;
    background-image: url("images/experiences.svg");
    background-size: 75%;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
    font-family: "Vast Shadow", cursive;
    color: var(--light-blue);
    filter: contrast(130%);
    padding-bottom: 50vh;
  }

  #experiences h1 {
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    font-size: 4vh;
    font-family: "Vast Shadow", cursive;
    color: var(--orange);
    padding: none;
    text-align: center;
  }

  .hiddenInfo {
    display: none;
  }

  .revealedInfo {
    display: block;
  }

  #infoSection {
    height: auto;
    width: 100%;
    position: relative;
    margin: 0;
  }

  .info {
    width: 90vw;
    min-height: 40vh;
    font-size: 2.75;
    background-color: #3f3f3f;
    border-radius: 2vw;
    padding: 1vw;
    position: absolute;
    left: 4vw;
    margin: 0;
  }

  .info span {
    color: var(--orange);
    font-size: 3vh;
  }

  .info .languages {
    font-size: 2.75vh;
    color: var(--light-green);
  }

  .info a {
    color: var(--orange);
  }

  #info1 {
    z-index: 1;
  }

  #info2 {
    font-size: 3.25vh;
  }

  .arrow {
    border-top: 3vw solid transparent;
    border-bottom: 3vw solid transparent;
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    z-index: 2;
    opacity: 50%;
  }

  #left {
    border-right: 3vh solid white;
    left: 2vw;
  }

  #right {
    border-left: 3vh solid white;
    right: 2vw;
  }

  #infoHeading {
    height: auto;
    width: 70vw;
    font-size: 3vh;
    margin-bottom: 5vh;
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #3f3f3f;
    padding-left: 2vw;
    padding-right: 2vw;
    border-radius: 2vw;
    box-sizing: border-box;
  }

  .fadeOut {
    transition: opacity 0.5s;
    opacity: 0%;
  }

  .fadeIn {
    transition: opacity 0.5s;
    opacity: 100%;
  }
}

/*Experiences Page Styling (Mobile Landscape View)*/
@media only screen and (orientation: landscape) and (max-width: 1024px) {
  #experiences {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
    width: 100%;
    box-sizing: border-box;
    background-image: url("images/experiences.svg");
    background-size: 75%;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
    font-family: "Vast Shadow", cursive;
    color: var(--light-blue);
    filter: contrast(130%);
    padding-bottom: 50vh;
  }

  #experiences h1 {
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    font-size: 4vw;
    font-family: "Vast Shadow", cursive;
    color: var(--orange);
    padding: none;
    text-align: center;
  }

  .hiddenInfo {
    display: none;
  }

  .revealedInfo {
    display: block;
  }

  .info {
    width: 50vw;
    min-height: 40vh;
    font-size: 1.5vw;
    background-color: #3f3f3f;
    border-radius: 2vw;
    padding: 1vw;
    position: absolute;
    left: 24vw;
  }

  .info span {
    color: var(--orange);
    font-size: 1.75vw;
  }

  .info .languages {
    font-size: 1.5vw;
    color: var(--light-green);
  }

  .info a {
    color: var(--orange);
  }

  #info1 {
    z-index: 1;
  }

  #info2 {
    font-size: 2vw;
  }

  .arrow {
    border-top: 3vw solid transparent;
    border-bottom: 3vw solid transparent;
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
  }

  #left {
    border-right: 6vh solid white;
    left: 10vw;
  }

  #right {
    border-left: 6vh solid white;
    right: 10vw;
  }

  #infoHeading {
    height: auto;
    width: 60vw;
    font-size: 3vw;
    margin-bottom: 5vh;
    margin-top: 1vh;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #3f3f3f;
    padding-left: 2vw;
    padding-right: 2vw;
    border-radius: 2vw;
    box-sizing: border-box;
  }

  .fadeOut {
    transition: opacity 0.5s;
    opacity: 0%;
  }

  .fadeIn {
    transition: opacity 0.5s;
    opacity: 100%;
  }
}

/*Projects Page Styling (Desktop)*/
@media only screen and (min-width: 1025px) {
  #myProjects {
    font-size: 1.5vw;
    box-sizing: border-box;
    padding-left: 5vw;
    padding-right: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Vast Shadow", cursive;
  }

  #myProjects > h1 {
    font-size: 3vw;
    color: var(--orange);
    margin-bottom: 2vh;
  }

  #myProjects p {
    color: var(--light-green);
    margin-bottom: 2vh;
  }

  #myProjects a {
    color: var(--light-green);
    text-decoration: underline;
  }

  #myProjects a:hover {
    color: var(--orange);
  }

  #myProjects p a img {
    filter: invert(100%);
    width: 1.5vw;
    margin-left: 10px;
    margin-right: 10px;
  }

  #myProjects > a:hover > img {
    width: 2vw;
    transition: width 0.5s;
  }

  #projectsList {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: auto;
    row-gap: 1vh;
    column-gap: 2vw;
    align-items: center;
    justify-items: center;
    margin-bottom: 5vh;
  }

  #projectsList > h1 {
    background-color: var(--gray-background);
    color: var(--orange);
    height: 10vh;
    width: 90%;
    box-sizing: border-box;
    border-radius: 5vw;
    grid-column: 1/4;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 3vw;
  }

  #projectsList > div {
    width: 100%;
    min-height: 40vh;
    background-color: var(--gray-background);
    border-radius: 3vw;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    box-sizing: border-box;
    padding-left: 1vw;
    padding-right: 1vw;
  }

  #projectsList div a {
    width: 80%;
    filter: grayscale(100%);
    transition: filter 0.5s;
    margin-top: 1vh;
  }

  #projectsList div a:hover {
    filter: grayscale(0%);
    transition: filter 0.5s;
    font-size: 100%;
  }

  #projectsList > div > a > img {
    width: 100%;
    box-sizing: border-box;
    border: 0.5vw solid #2f2f2f;
    border-radius: 2vw;
  }

  #projectsList div p {
    font-size: 0.75vw;
    margin-top: 1vh;
  }
}

/*Projects Page Styling (Portrait)*/
@media only screen and (max-width: 1024px) and (orientation: portrait) {
  #myProjects {
    font-size: 1.5vh;
    box-sizing: border-box;
    padding-left: 2vw;
    padding-right: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Vast Shadow", cursive;
    width: 100%;
    min-height: 80vh;
  }

  #myProjects > h1 {
    font-size: 3vh;
    color: var(--orange);
    margin-bottom: 2vh;
  }

  #myProjects p {
    color: var(--light-green);
    margin-bottom: 2vh;
  }

  #myProjects p a img {
    filter: invert(100%);
    height: 1.5vh;
    margin-left: 10px;
    margin-right: 10px;
  }

  #projectsList {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: auto;
    row-gap: 1vh;
    column-gap: 2vw;
    align-items: center;
    justify-items: center;
    margin-bottom: 5vh;
  }

  #projectsList > h1 {
    background-color: var(--gray-background);
    color: var(--orange);
    height: 5vh;
    width: 90%;
    box-sizing: border-box;
    border-radius: 5vw;
    grid-column: 1/3;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 3vh;
  }

  #projectsList > div {
    width: 100%;
    min-height: 20vh;
    background-color: var(--gray-background);
    border-radius: 3vw;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    box-sizing: border-box;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
  }

  #projectsList div a {
    width: 80%;
    margin-top: 1vh;
  }

  #projectsList > div > a > img {
    width: 100%;
    box-sizing: border-box;
    border: 0.5vw solid #2f2f2f;
    border-radius: 2vw;
  }

  #projectsList div p {
    font-size: 2.25vw;
    margin-top: 1vh;
  }
}

/* Projects Page Styling (Mobile Landscape) */
@media only screen and (orientation: landscape) and (max-width: 1024px) {
  #myProjects {
    font-size: 1.5vw;
    box-sizing: border-box;
    padding-left: 5vw;
    padding-right: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Vast Shadow", cursive;
    width: 100%;
  }

  #myProjects > h1 {
    font-size: 3vw;
    color: var(--orange);
    margin-bottom: 2vh;
  }

  #myProjects p {
    color: var(--light-green);
    margin-bottom: 2vh;
  }

  #myProjects p a img {
    filter: invert(100%);
    width: 1.5vw;
    margin-left: 10px;
    margin-right: 10px;
  }

  #projectsList {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: auto;
    row-gap: 1vh;
    column-gap: 2vw;
    align-items: center;
    justify-items: center;
    margin-bottom: 5vh;
  }

  #projectsList > h1 {
    background-color: var(--gray-background);
    color: var(--orange);
    height: 10vh;
    width: 90%;
    box-sizing: border-box;
    border-radius: 5vw;
    grid-column: 1/4;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 3vw;
  }

  #projectsList > div {
    width: 100%;
    min-height: 40vh;
    background-color: var(--gray-background);
    border-radius: 3vw;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    box-sizing: border-box;
    padding-left: 1vw;
    padding-right: 1vw;
  }

  #projectsList div a {
    width: 80%;
    margin-top: 1vh;
  }

  #projectsList > div > a > img {
    width: 100%;
    box-sizing: border-box;
    border: 0.5vw solid #2f2f2f;
    border-radius: 2vw;
  }

  #projectsList div p {
    font-size: 1.25vw;
    margin-top: 1vh;
  }
}

/*Temporary Page Styling*/
#temporaryBody {
  background-image: url(images/temporary.svg);
  background-size: cover;
  display: grid;
  justify-items: center;
  align-items: center;
}

#temporary {
  box-sizing: border-box;
  padding: 1vw;
  width: 100vh;
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--light-green);
  font-family: "Vast Shadow", cursive;
  background-color: var(--gray-background);
  border: 0.5vw solid var(--light-green);
  border-radius: 1vw;
}

#temporary h1 {
  font-size: 3vw;
}

#temporary p {
  width: 40vw;
  font-size: 2vw;
}

#temporary img {
  width: 10vw;
  filter: invert(100%) brightness(90%);
}

/*Universal Styling Desktop*/
@media only screen and (min-width: 1025px) {
  html {
    min-height: 100vh;
    height: auto;
    background-image: url(images/mainBackground.svg);
    background-repeat: no-repeat;
    background-size: 150vw;
    background-attachment: fixed;
  }

  html body {
    position: relative;
    height: 100%;
  }

  a {
    transition: color 0.5s, font-size 0.5s;
    text-decoration: none;
  }

  a:hover {
    color: var(--orange);
    font-size: 125%;
    transition: color 0.5s, font-size 0.5s;
  }
}

/*Universal Styling (Portrait view)*/
@media only screen and (max-width: 1024px) and (orientation: portrait) {
  html {
    height: 100vh;
    width: 100%;
    background-image: url(images/mainBackground.svg);
    background-size: 250vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  html body {
    margin: 0px;
    padding: 0;
    position: relative;
    height: 100%;
  }

  a {
    text-decoration: none;
    color: var(--orange);
  }
}

/*Universal Styling (Mobile Landscape Version)*/
@media only screen and (orientation: landscape) and (max-width: 1024px) {
  html {
    min-height: 100vh;
    height: auto;
    width: 100%;
    background-image: url(images/mainBackground.svg);
    background-size: 300vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  html body {
    position: relative;
    height: 100%;
  }

  a {
    text-decoration: none;
    color: var(--orange);
  }
}
